.floating-menu {
  position: fixed;
  bottom: 30px;
  right: 30px;
  
}
 
.menu-btn {
  border: none;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #b18c79;
 
  /*버튼 안 텍스트 중앙정렬*/
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 
  white-space: nowrap;
 
  cursor: pointer;  /*pointer: 클릭 가능한 버튼, 링크 등에 주로 사용됩니다.*/
  font-family: "Gothic A1", sans-serif;
  font-size: 14px;
}

.modal-close-button {
  display: block;
  margin-top: 15px;
  padding: 8px 16px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}




.floatcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.notibox {
  width: 300px;
  max-height: 400px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  
  position: absolute;
  bottom: 80px; /* 버튼 위쪽에 위치하도록 설정 */
  right: 0;
  transform-origin: bottom;
  
  overflow-y: auto; /* 내용이 많아지면 스크롤 가능 */
}
.notibox.hidden {
  display: none;
}