
.floatcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.togbtn {
  padding: 15px;
  border: none;
  background-color: yellow;
  color: blue;
  border-radius: 10px;
  cursor: pointer;  /* 커서 모양 변경 */
  font-size: 1rem;
}
.floatcon .togbtn:hover {
  background-color: green;
  color: whitesmoke;
}

.notibox {
  width: 300px;
  max-height: 400px;
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
  
  position: absolute;
  bottom: 50px; /* 버튼 위쪽에 위치하도록 설정 */
  right: 0; /*좌우 위치를 버튼 오른쪽에 맞추기 위해*/
  
  overflow-y: auto; /* 내용이 많아지면 스크롤 가능 */

  opacity: 1;
  transition: opacity 1s ease;
}
.notibox.hidden {
  /* display: none; */
  opacity: 0;
}